.main-header {
    height: 50px;
    background-color: #1b1d27;
}

.main-header h1 {
    font-family: TruenoRg;
    font-size: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
}

.header-account {
    font-size: 14px;
    font-weight: 500;
    color: var(--light);
}

.between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: inherit;
}

.header-row {
    display: flex;
    align-items: center;
}

.header-icon {
    margin-left: 25px;
    cursor: pointer;
}

.header-icon-ml {
    margin-left: 40px;
    cursor: pointer;
    height: 19px;
    width: auto;
}

.header-btn {
    border-radius: 11px;
    font-size: 14px;
    font-weight: 500;
    border: 0;
    outline: 0;
    cursor: pointer;
    background: var(--blue);
    color: #fff;
    padding: 3px 11px;
}

.main-nav {
    height: 50px;
    background-color: var(--dark2);
}

.nav-row {
    display: flex;
    align-items: center;
}

.nav-row-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 12.5px 0;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

.nav-active-item {
    border-bottom-color: var(--blue);
}

.nav-row-item:not(:last-child) {
    margin-right: 50px;
}

.nav-row-item img {
    width: 17px;
    height: auto;
    display: block;
    margin-right: 8px;
}

.nav-row-text {
    font-size: 18px;
    font-weight: 500;
    color: #ebebeb;
}

.nav-search {
    position: relative;
    width: 227px;
}

.nav-search-input {
    padding: 5px 18px;
    border-radius: 14px;
    background-color: var(--black);
    border: 0;
    color: #fff;
    outline: 0;
    width: 100%;
}

.nav-search-input::-webkit-input-placeholder {
    opacity: 1;
    color: #fff;
}
.nav-search-input:-ms-input-placeholder {
    opacity: 1;
    color: #fff;
}
.nav-search-input::-ms-input-placeholder {
    opacity: 1;
    color: #fff;
}
.nav-search-input::placeholder {
    opacity: 1;
    color: #fff;
}

.nav-search img {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 15px;
    height: auto;
}


.sub-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 14px;
}

.sub-nav {
    display: flex;
    align-items: center;
}

.sub-nav-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 0;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    font-size: 15px;
    font-weight: 500;
}

.subnav-active {
    border-bottom-color: var(--blue);
}

.sub-nav-item:not(:last-child) {
    margin-right: 30px;
}

.divider {
    height: 2px;
    background: #1a1f2c;
    width: 100%;
}

.filter-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 0;
    cursor: pointer;
    border: 0;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    border-radius: 15.5px;
    background-color: var(--blue);
    padding: 7px 19px;
    align-self: flex-start;
}

.filter-btn img {
    width: 12px;
    height: auto;
    margin-left: 20px;
    margin-top: 2.2px;
}


.filter-fluid {
    background-image: linear-gradient(121deg, #10172b, #070b16);
    padding: 30px 0 35px;
}

.filter-row {
    display: flex;
    align-items: flex-start;
    margin-left: 20px;
}

.filter-col {
    display: flex;
    flex-direction: column;
}

.filter-col:not(:last-child) {
    margin-right: 50px;
}

.filter-heading {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 25px;
}

.filter-heading-disabled {
    color: rgba(255, 255, 255, 0.25);
}

.filter-close {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-left: auto;
    cursor: pointer;
}

.filter-close img {
    width: 13px;
    height: 13px;
}

.filter-input-row {
    display: flex;

}

.filter-input-col {
    display: flex;
    flex-direction: column;
}

.filter-input-col:not(:last-child) {
    margin-right: 30px;
}





.checkbox {
    display: block;
    position: relative;
    padding-left: 26px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox p {
    color: rgb(68,68,68);
    font-size: 14px;
    font-weight: 600;
}

.checkbox input:checked ~ p {
    color: #fff;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    border-radius: 5px;
    background-color: rgba(44,46,53, 0.25);
}

.checkbox:hover input ~ .checkmark {
    background-color: rgb(44,46,53);
}

.checkbox input:checked ~ .checkmark {
    background-color: rgb(44,46,53);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox input:checked ~ .checkmark:after {
    display: block;
}

.checkbox .checkmark:after {
    left: 6px;
    top: 2.5px;
    width: 4.5px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}