body {
  background: #fff !important;
}

.text-center {
  text-align: center;
}

.btn-linear {
  background-image: linear-gradient(to right, #6c3cfe, #3cccfe);
  color: #fff;
  border-radius: 999px;
  border: 0;
  cursor: pointer;
  font-size: 16px;
  outline: 0;
  font-family: 'TruenoRegular'
}

.btn-reg {
  padding: 1.5rem 3.5rem;
}

.btn-long {
  padding: 1.5rem 8rem;
  margin-top: 8rem;
}

.landing-col {
  display: flex;
  flex-direction: column;
}

.landing-heading {
  font-family: 'TruenoExtraBold';
  font-size: 5.6rem;
  letter-spacing: -0.5px;
  text-align: center;
  color: #333333;
  margin-top: 16.5rem;
  margin-bottom: .9rem;
}

.landing-text {
  font-family: 'TruenoLight';
  font-size: 2.4rem;
  text-align: center;
  color: #4a4a4a;
}


.landing-secondary {
  font-family: 'TruenoBold';
  font-size: 4.4rem;
  line-height: 1.09;
  letter-spacing: -0.6px;
  color: #333333;
}

.landing-secondary-text {
  font-family: 'TruenoLight';
  font-size: 1.8rem;
  line-height: 1.56;
  color: #818181;
  margin-top: 1.5rem;
}

.landing-input {
  border-radius: 100px;
  background-color: rgba(235, 235, 235, 0.6);
  padding: 1.2rem 3rem;
  font-family: 'TruenoLight';
  line-height: 1.86;
  color: #333333;
  border: 0;
  outline: 0;
}

.landing-input::-webkit-input-placeholder {
  color: #818181;
  font-size: 1.4rem;
}
.landing-input:-ms-input-placeholder {
  color: #818181;
  font-size: 1.4rem;
}
.landing-input::-ms-input-placeholder {
  color: #818181;
  font-size: 1.4rem;
}
.landing-input::placeholder {
  color: #818181;
  font-size: 1.4rem;
}


.landing-input-btn {
  display: flex;
  margin: 5.8rem auto 11.2rem;
  max-width: 50rem;
  width: 100%;
}

.no-lbr {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.no-rbr {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  flex-shrink: 1;
  flex-grow: 1;
}

.img-movies {
  width: 100%;
  max-width: 81.5rem;
  height: auto;
  display: block;
  margin-bottom: 9.3rem;
  align-self: center;
}


.landing-input-group {
  margin-top: 4.8rem;
  width: 100%;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.input-divider {
  margin-top: 2rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-between;
}

.input-divider .landing-input {
  width: 47.5%;
}

.ac {
  align-self: center;
}

.device-row {
  display: flex;
  justify-content: space-between;
  margin-top: 12.4rem;
  margin-bottom: 14rem;
}

.img-bot {
  width: 100%;
  max-width: 32.6rem;
  height: auto;
  display: block;
  margin-top: 13.5rem;
  align-self: center;
}


.footer-text {
  font-family: 'TruenoLight';
  font-size: 1.4rem;
  line-height: 1.86;
  color: #818181;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 6.4rem;
  margin-top: 16.7rem;
}

.footer-item {
  font-family: 'TruenoRegular';
  font-size: 1.6rem;
  color: #daae9b;
}

.footer-item:not(:last-child) {
  margin-right: 4rem;
}

footer img {
  width: 18px;
  height: auto;
  display: inline-block;
}

footer img:not(:last-child) {
  margin-right: 2.5rem;
}