.grid {
  margin-top: 5.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 180px);
  grid-gap: 4.8rem .8rem;
  justify-content: space-between;
}


@media only screen and (max-width: 620px) {
  .grid {
    grid-template-columns: repeat(auto-fit, 92px);
  }
}


.grid-parent {
  padding-bottom: 8.8rem;
}


.card {
  width: 184px;
  height: 276px;
  position: relative;
  overflow: hidden;
}

@media only screen and (max-width: 620px) {
  .card {
    width: 92px;
    height: 138px;
  }
}

.card:hover .img-blur  {
  filter: blur(2.4px);
}

.card:hover .overlay-details  {
  display: flex;
}

.card:hover .overlay {
  display: block;
}

.movie-img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay-details {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  margin-top: 10px;
}

.overlay-mt-big {
  margin-top: 3.2rem;
}

.overlay-text {
  font-size: 18px;
  display: block;
  margin-left: 13px;
}

.movie-btn {
  border-radius: 19.5px;
  border: 0;
  max-width: 128px;
  width: 100%;
  font-weight: 600;
  cursor: pointer;
  padding: 5.2px 0;
  margin-left: 22px;
  font-size: 14px;
  outline: 0;
}

.movie-play {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: #2e4fe8;
  margin-top: 45px;
  margin-bottom: 9px;
}

.movie-light {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.13);
  font-weight: 500;
}

.movie-play img {
  width: 9px;
  height: 9px;
  display: block;
  margin-left: 3.2px;
}

.collection-btn {
  margin-top: 3px;
}



.add-request {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

.add-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;
  border: solid 2px var(--blue);
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
}

.add-box img {
  width: 24px;
  height: 24px;
}


.add-request-text {
  font-size: 15px;
  margin-top: 2.4rem;
}


.grid-head-group {
  display: flex;
  align-items: center;
  margin-top: 5rem;
}

.grid-head-group h2 {
  font-size: 25px;
  font-weight: 600;
  margin-right: 1.5rem;
}

@media only screen and (max-width: 500px) {
  .grid-head-group h2 {
    margin-right: 0;
  }

  .grid-head-group  {
    flex-direction: column;
  }
}

.grid-head-icon {
  width: 17px;
  height: 17px;
  background: var(--dark2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: .8rem;
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .grid-head-icon {
    margin: .4rem 0;
  }
}

.grid-head-icon img {
  width: 10px;
  height: auto;
  display: block;
}

.grid-head-group span {
  color: #b8b8b8;
  font-size: 13px;
  font-weight: 300;
  cursor: pointer;
}



.grid-collections {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-gap: 4.8rem 6rem;
  margin-top: 5.7rem;
  padding-bottom: 6rem;
}

.grid-collections-item {
  display: grid;
  grid-template-columns: repeat(15, 20px);
  grid-template-rows: repeat(4, 50px);
  overflow: hidden;
}


.grid-img-1 {
  grid-area: 2 / 1 / 5 / 6;
  width: 100%;
}

.grid-img-2 {
  grid-area: 1 / 5 / 5 / 12;
  width: 100%;
  z-index: 3;
}

.grid-img-3 {
  grid-area: 2 / 11 / 5 / 16;
  width: 100%;
}

.collections-group {
  display: flex;
  flex-direction: column;
}

.collections-group h6 {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  color: #ebebeb;
  margin-top: 2.7rem;
  cursor: pointer;
}