.premium-heading {
    font-size: 25px;
    font-weight: 600;
}

.premium-heading:first-of-type {
    margin-top: 4.5rem;
}

.pink {
    color: #b8b8b8
}


.premium-ending {
    font-size: 18px;
    text-align: right;
    display: block;
    margin: .7rem 0 1.5rem;
}

@media only screen and (max-width: 400px) {
    .premium-ending {
        text-align: left;
    }
}

strong {
    font-weight: 600;
}

.premium-row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5rem;
}

@media only screen and (max-width: 1000px) {
    .premium-row {
        flex-direction: column;
    }
}

.premium-col {
    display: flex;
    flex-direction: column;
    width: calc(50% - 6.5px);
    background: var(--dark2);
    padding: 4.1rem 5rem 4.1rem 4.6rem;
}

@media only screen and (max-width: 1000px) {
    .premium-col {
        width: 100%;
    }

    .premium-col:not(:first-of-type) {
        margin-top: 2rem;
    }
}


@media only screen and (max-width: 780px) {
    .premium-col {
        padding: 2rem;
    }
}

.item-head {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 1.6rem;
}

.item-text {
    font-size: 15px;
    line-height: 1.56;
    margin-bottom: 4.5rem;
}

.choose-item {
    height: 5rem;
    display: flex;
    align-items: center;
    background: transparent;
    padding-left: 1.8rem;
    border-radius: 3px;
}

.choose-item-active {
    background: var(--blue);
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #282c3d;
}

.dot-active {
    background-color: #fff;
}

.choose-text {
    margin-left: 2rem;
    width: 7rem;
}

.choose-text-active {
    font-weight: 600;
}

.choose-item-auto {
    margin-left: 4.5rem;
    width: unset;
}

@media only screen and (max-width: 450px) {
    .choose-text {
        margin-left: 1rem;
        width: 5rem;
        font-size: 1.4rem;
    }

    .choose-item-auto {
        margin-left: 2.5rem;
        white-space: nowrap;
    }
}

.small-text {
    font-size: 14px;
    line-height: 1.64;
}

.small-text:first-of-type {
    margin-top: 5.5rem;
}

.bot-text {
    font-size: 14px;
    font-weight: 600;
    margin-top: 3.5rem;
    padding-bottom: 2rem;
}


.payment-head {
    font-size: 2rem;
    margin-bottom: 2rem;
}

label {
    font-size: 15px;
    color: #fff;
    font-weight: 300;
}

label:not(:first-child) {
    margin-top: 2.2rem;
}

.payment-col {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 50rem;
}

.main-input {
    outline: 0;
    border: 0;
    border-radius: 3px;
    background: #fff;
    width: 100%;
    padding: 1.1rem 1.7rem;
    font-size: 1.6rem;
    color: var(--black);
    margin-top: .75rem;
}

.main-input::-webkit-input-placeholder {
    color: #afafaf;
}
.main-input:-ms-input-placeholder {
    color: #afafaf;
}
.main-input::-ms-input-placeholder {
    color: #afafaf;
}
.main-input::placeholder {
    color: #afafaf;
}

.payment-row {
    display: flex;
    justify-content: space-between;
}

.half {
    width: calc(50% - 5.5px);
}

.cvc {
    max-width: 18.5rem;
}

.upgrade-button {
    background: var(--green);
    outline: 0;
    border: 0;
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    border-radius: 2.3rem;
    padding: .8rem 5.2rem;
    align-self: flex-start;
    margin-top: 2.8rem;
    cursor: pointer;
}